@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --dark-blue: #343f56;
  --red: #f54748;
  --orange: #fb9300;
  --beige: #f5e6ca;
  --beige-bg: #fefbf7;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-- Main: Game */
#cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game_score {
  width: 10rem;
  height: 3rem;

  background: #343f56;
  border-radius: 0.5rem;

  text-align: center;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;

  color: var(--orange);

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1.5rem;
}

canvas {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25rem;
}

#snake_game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
